/* minimalistic styling for HTML content */

body
{
	font-family: sans-serif;
	font-size: 14px;
	margin: 0;
}

*:first-child
{
	margin-top: 0;
}

a
{
	color: black;
	text-decoration: none;
	border-bottom: 1px solid blue;
}

a:hover
{
	color: blue;
}

pre > code
{
	display: block;
	margin-left: 2em;
}

/* page layout */

*[role=banner]
{
	background-color: #02A;
	color: white;
	font-family: serif;
	font-size: 2em;
	font-weight: bold;
	padding: 0.4em 0.25em;
	text-shadow: #EEE 1px 1px 1px;
}

*[role=navigation]
{
	border-bottom: 1px solid #02A;
}

*[role=main]
{
	margin: 1em;
}

*[role=main] > h1
{
	border-bottom: 2px solid #EEE;
	font-family: serif;
}

footer
{
	border-top: 1px solid #EEE;
	padding-top: 1em;
	margin: 1em;
}

/* buttons */

.button
{
	float: right;
	padding: 0.1em 0.25em;
	margin: 0.35em;
	font-weight: bold;
	border-radius: 0.25em;
	cursor: pointer;
}

.button,
.button:hover,
.button.blue,
.button.blue:hover
{
	background-color: #00F;
	border-top:    1px solid #008;
	border-left:   1px solid #008;
	border-bottom: 1px solid #88F;
	border-right:  1px solid #88F;
	color: white;
}

.button.red,
.button.red:hover
{
	background-color: #F00;
	border-top:    1px solid #800;
	border-left:   1px solid #800;
	border-bottom: 1px solid #F88;
	border-right:  1px solid #F88;
	color: white;
}

/* breadcrumbs */

.breadcrumbs > ol
{
	list-style: none;
	margin: 0.5em 1em;
	padding: 0;
}

.breadcrumbs > ol > li
{
	display: inline;
}

.breadcrumbs > ol > li:before
{
	border-left:  0.25em solid white;
	border-right: 0.25em solid white;
	content: '\BB';
}

.breadcrumbs > ol > li:first-child:before
{
	border: 0;
	content: ' ';
}

.breadcrumbs > ol > li > span
{
	color: #080;
	font-weight: bold;
}

/* tables */

table.info,
table.data
{
	width: 100%;
	margin-bottom: 1em;
	border-spacing: 0;
	border-collapse: collapse;
}

table.info th,
table.data th
{
	text-align: left;
}

table.info
{
	border-left: 5px solid #77B5FE; /* sky blue */
	background-color: #87CEFA; /* light sky blue */
}

table.info th,
table.info td
{
	border-bottom: 1px solid #00AAE4; /* spanish sky blue */
	padding: 0.5em;
}

table.info td
{
	padding-left: 0;
}

table.info th
{
	font-weight: normal;
	font-style: italic;
}

table.data th
{
	border-bottom: 1px solid #CCC;
}

table.data td
{
	border-bottom: 1px solid #EEE;
}

table.info tr:last-child th,
table.info tr:last-child td,
table.data tr:last-child td
{
	border-bottom: none;
}

/* list styling */

ol.columns3,
ul.columns3
{
	-moz-column-count: 3;
	-webkit-column-count: 3;
}

ol.columns3,
ul.columns3
{
	list-style: none;
	margin: 0;
	padding: 0;
}
