<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="{% if page.language %}{{ page.language }}{% else %}{{ site.language }}{% endif %}">
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width; initial-scale=1"/>
{% if page.description %}<meta name="description" content="{{ page.description }}"/>
{% endif %}{% if page.keywords %}<meta name="keywords" content="{{ page.keywords }}"/>
{% endif %}<meta name="robots" content="all"/>
<title>{% if page.title %}{{ page.title }} &#x2014; {% endif %}{{ site.title }}</title>
{% if site.stylesheet %}<link rel="stylesheet" type="text/css" href="{{ site.stylesheet }}"/>
{% endif %}</head>
<body>
{{ content }}
</body>
</html>
